.snippet
  %h1 Paste a new code snippet below:
  %form{:action => '/', :method => 'POST'}
    %p
      %label{:for => 'name'} Title:
      %input{:type => 'text', :name => 'snippet_title'}
      
    %textarea#snippet_body{:name => 'snippet_body', :rows => '20'}
    %br
    %input{:type=>'submit', :value => 'Save'}
